/*
Theme Name: Ford Fortal (Landing Page)
Theme URI: http://wordpress.org/themes/twentythirteen
Author: Dorian Neto
Author URI: http://dorianneto.com.br
Description: Tema desenvolvido para campanhas de publicidade
Version: 1.0
Tags: landing-page, blue, ford, ford-fortal
Text Domain: fordfortal-landingpage
*/

/* CFORMS */
.cf_info {
    border: 1px solid transparent;
    border-radius: 4px;
}
.cf_info.failure {
    margin-top: 20px;
    padding: 15px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.cf_info.success {
    margin-top: 20px;
    padding: 15px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.cform .cf_hidden { display: none;}

.cform ol.cf-ol {
    padding: 0px;
}
.cform ol.cf-ol li {
    margin: 0 0 15px 0;
    list-style: none;
}
.cform ol.cf-ol li input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
}
.cform ol.cf-ol li .reqtxt,
.cform ol.cf-ol li .emailreqtxt { display: none;}
.cform .cf-sb input[type="submit"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-transform: uppercase;
}